.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.room {
    display: flex;
    flex-direction: column;
    width: 56.25rem;
    height: 43.75rem;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: #141414;
    margin-top: 3rem;
    margin-left: 3rem;
}

.screen {
    width: 100%;
    height: 3.125rem;
    margin-bottom: 3rem;
}

.rowContainer {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: 600;
    color: #9B9B9B;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
}

.line {
    width: 90%;
    align-self: center;
    margin-top: 2rem;
    height: 5px;
    background-color: #9B9B9B;
    border: 0;
}

.caption {
    font-size: 1.005rem;
    margin-left: 5%;
    margin-top: .5rem;
    color: #9B9B9B;
    font-weight: 600;

}

.captionStates {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 5%;
    margin-top: 1rem;
}

.state {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}