.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactWrapper {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 30.5rem;
    height: 45.125rem;
    border-radius: 10px;
    background-color: #004A9B;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.contactTexts {
    margin-top: 3rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text1 {
    font-size: 3rem;
    font-weight: 700;
}

.text2 {
    font-size: 1.5rem;
    font-weight: 500;

}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}

.name, .topic, .desc {
    width: 24.375rem;
    height: 2.75rem;
    border-radius: 5px;
    font-size: 1.25rem;
    padding: .4rem;
    border: none;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: var(--principal-100);
    resize: none;

}

.desc {
    width: 24.375rem;
    height: 17.688rem;
    border-radius: 10px;
}

.sendBtn {
    width: 9.125rem;
    height: 2.75rem;
    border-radius: 10px;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: #6D98FB;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border: 0;
}

.sendBtn:hover {
    background-color: #004A9B;
}