
.content {
    position: relative;
}

/****** Banner Intro ******/

.intro {
    width: 100%;
    height: 16.875rem;
    box-shadow: 0 .2rem 0  black;
}

.intro > img {
    width: 100%;
    height: 16.875rem;
    object-fit: cover;

}

.homePhrase {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -15rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.homePhrase > p:first-child {
    font-size: 3rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

.homePhrase > p:last-child {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 2rem;
    
}

.moviesNav{
    display: flex;
    justify-content: right;
    margin-top: -8rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    font-size: 1.5rem;
    line-height: 28px;
    color: white;
}

.onAir{
    margin-left: 1rem;
    font-size: 3rem;
    font-weight: 100;
    color: white;
}

.onscreenContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}