main {
    background-image: url("src/assets/Background.png");
    background-repeat: repeat;
    background-size: cover;
    background-color: #1E1E1E;
    overflow: hidden;
    position: relative;
}

.banner {
    background-color: var(--principal-800);
    height: 15.625rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchBar {
    width: 65.875rem;
    background: white;
    height: 2.813rem;
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180);
}

.searchBar > input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 1.5rem;
    color: black;
    
}

::placeholder {
    color: grey;
}

.searchBar > button > img {
    width: 3.625rem;
    height: 3.625rem;
}

.searchBar > button {
    border: 0;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin-right: -1.2rem;
}

.dropbtn {
    background: linear-gradient(
        to right,
        var(--principal-source),
        var(--principal-source) 10px,
        #00557B 10px,
        #00557B 20px
    );
    color: white;
    padding-left: 1.5rem;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: .5rem;
    width: 19.375rem;
    height: 3.25rem;
    text-align: left;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.dropbtn:hover, .dropbtn:focus {
    background: linear-gradient(
        to right,
        var(--principal-source),
    );
    border: none;
}

.dropbtn > option {
    color: black;
    font-weight: 600;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: var(--principal-800);
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.filters {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 3rem;
    margin-left: -24rem;
}
 
.mainContent {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
}

.moviesText{
    align-items: Left;
    margin-left: 5rem;
    margin-top: 3rem;
}

.cardsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3rem;
    gap: .5rem;
}

.pageItem, .active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 4.25rem;
    height: 4.25rem;
    background-color: var(--sombra-source);
    cursor: pointer;
    color: white;
    border: 0;
    font-size: 2.04rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.active {
    background-color: var(--complementar-500);
}

.pageItem:first-child {
    background-color: var(--principal-source);
    border-radius: 40% 5px 5px 40%;
}

.pageItem:last-child {
    background-color: var(--principal-source);
    border-radius: 5px 40% 40% 5px;
}