
.movieSessions {
    display: flex;
    flex-direction: column;
}

.movieTabs {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 5rem;
    margin-left: 1rem;
}

.sessionButton {
    width: 6.563rem;
    height: 3.25rem;
    border-radius: 1.625rem;
    border: 3px solid var(--principal-source);
    background-color: transparent;
    color: var(--principal-source);
    font-size: 1.5rem;
}

.showtimesContainer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
    margin-bottom: 8rem;
    margin-left: 1rem;
    align-items: center;
}

.showtimes {
    width: 98%;
    height: 11.75rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: #141414;
    padding: 2rem;
    gap: 2rem;
}

.showtimeButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.showtimeButton {
    width: 6.563rem;
    height: 3.25rem;
    border-radius: 3px;
    border: 3px solid var(--principal-source);
    background-color: transparent;
    color: var(--principal-source);
    font-size: 1.5rem; 
}

.tabName {
    width: 5rem;
    height: 2.25rem;
    border-radius: 4px;
    background-color: var(--calltoaction-400);
    font-size: 1.5rem;
    color: #141414;
    font-weight: bold;
    text-align: center;
}