.aside {
    background: linear-gradient(
        to top,
        #DDDDDD 0%,
        #DDDDDD 37rem,
        #00264D 37rem,
        #00264D 100%
        );
    width: 21rem;
    height: 48.75rem;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 5rem;
}

.topWrapper {
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.moviePoster {
    width: 7.013rem;
    height: 12.5rem;
    border-radius: 3px;
}

.movieInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}

.movieInfo > p {
    font-size: 1.225rem;
}

.sessionWrapper {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.sessionInfo {
    text-align: center;
    width: 3.5rem;
    height: 1.531rem;
    border-radius: 3px;
    border: 2px solid var(--calltoaction-source);
    background-color: var(--calltoaction-source);
    color: black;
    font-size: 1rem;
    font-weight: 600;
}

.bottomWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.seatsTitle {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    margin-right: 3rem;
}

.chosenSeats {
    color: black;
    font-size: 1rem;
    font-weight: bolder;
}

.seatsTitle > img {
    width: 0.875rem;
    height: 0.875rem;
}

.seatsFrame {
    width: 16.875rem;
    height: 22rem;
    background-color: #CCCCCC;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    

}

.confirmButton {
    width: 7.438rem;  
    height: 3rem;
    border-radius: 8px;
    padding: 12px, 8px, 12px, 8px;
    color: white;
    font-size: 1rem;
    background-color: var(--calltoaction-source);
    border: 0;
    margin-top: 1rem;
    cursor: pointer;
}

.confirmButton:hover {
    background-color: var(--calltoaction-500);
}

