.bannerShowtimes {
    width: 100%;
    height: 24.063rem;
    display: flex;
    flex-direction: row;
    background: linear-gradient(
        to top,
        transparent,
        #00264D 3rem
    )
}

.bannerPoster{
    margin-top: 3rem ;
    margin-left: 1rem;
}

.bannerPoster > img{
    width: 14.375rem;
    height: 21.25rem;
}

.movieTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-left: 2rem;
    margin-top: 3rem;
    font-size: 3rem;
}

.movieTitle > img {
    width: 3.125rem;
    height: 3.125rem;
}

.movieDescription {
    color: #C6C6C6;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    margin-left: 2rem;
}

.movieGenre{
    font-size: 1.5rem;
}

.movieSynopsis {
    font-size: 1.25rem;
}

.dropbtn {
    background: linear-gradient(
        to right,
        var(--principal-source),
        var(--principal-source) 10px,
        #00557B 10px,
        #00557B 20px
    );
    color: white;
    padding-left: 1.5rem;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: .5rem;
    width: 19.375rem;
    height: 3.25rem;
    text-align: left;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.dropbtn:hover, .dropbtn:focus {
    background: linear-gradient(
        to right,
        var(--principal-source),
    );
}

.filters {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 3rem;
    margin-left: 2rem;
}