p {
    color: white;
}

.movieCard {
    margin: 5rem;
    margin-bottom: 5rem;
    width: 29.063rem;
    height: 60.688rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        to top,
        #001225,
        #00264D
    );
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.cardPhoto {
    width: 100%;
    margin-top: 1rem;
}

.cardPhoto > img {
    width: 26.375rem;
    height: 39rem;
}

.cardTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.description {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 3rem;
    font-size: 1.25rem;
}

.buttonDiv {
    display: flex;
    width: 100%;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
}

.cardButton {
    width: 12.813rem;
    height: 2.759rem;
    font-size: 1.154rem;
    border-radius: 0.5rem;
    color: white;
    background-color: #CC8000;
}