.container {
    position: relative;
    padding: 3rem;
    max-width: 100%;
    margin: 0 auto;
    
}

.gallery_wrapper {
    overflow-x: auto;

}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}

.ticket {
    width: 100%;
}

.left_button,
.right_button {
    margin-bottom: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 1;
    bottom: 0;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    transition: all 400ms ease-in-out;
}

.right_button {
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.left_button:hover,
.right_button:hover {
    opacity: 1;
}

.current_ticket {
    height: 32.5rem;
    flex-shrink: 0;
}

