.popup {
    width: 50rem;
    height: 22.188rem;
    border-radius: 16px;
    background-color: var(--calltoaction-source);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.popupTexts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    padding: 2rem;
}

.text1 {
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

.text2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.104rem;
}

.cancelButton {
    width: 16.424rem;
    height: 6.625rem;
    border-radius: 18px;
    border: 0;
    background-color: var(--cancel-700);
    color: white;
    font-size: 2.208rem;
    font-weight: 600;
    cursor: pointer;
}

.confirmButton {
    width: 16.424rem;
    height: 6.625rem;
    border-radius: 18px;
    border: 0;
    background-color: var(--confirm-400);
    color: white;
    font-size: 2.208rem;
    font-weight: 600;
    cursor: pointer;
}