.footer {
    bottom: 0;
    width: 100%;
}

/****** parte de cima do footer (sem o copyright) ******/

.upper_footer_container{
        width: 100%;
        height: 20rem;
        background-color: var(--sombra-source);
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;
    }

/*** parte esquerda do footer ***/    

.info {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-left: 5rem;
    width: 20.313rem;
    height: 15.256rem;
}

.adress > h2 {
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
}

.adress > p {
    color: var(--principal-100);
    font-size: 1rem;
}

.sac > h2 {
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
}

.sac > p {
    color: var(--principal-100);
    font-size: 1.rem;
}

.icons > img {
    width: 1.563rem;
    height: 1.563rem;
}

/*** imagem de ingresso ***/ 

.ticketImg {
    width: 20.313rem;
    height: 15.256rem;
}

/*** iframe do mapa ***/ 

.mapouter {
    width: 20.313rem;
    height: 15.256rem;
    margin-right: 5rem;
}

.gmap_canvas {
    overflow: hidden;
    background: none;
    width: 20.313rem;
    height: 15.256rem;
}

.gmap_iframe {
    width: 20.313rem;
    height: 15.256rem;
}

/*** barra de copyright ***/ 

.copyright {
    background-color: var(--sombra2-900);
    color: whitesmoke;
    width: 100%;
    height: 2.313rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}