.header {
    background-color: var(--principal-source);
    width: 100%;
    height: 10.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0rem .25rem 0.2 black;
}

.header > img:first-child {

    width: 15.625rem;
    height: 6.125rem;
    margin-left: 3rem;

}

.nav {
    margin-right: 3rem;
    display: flex;
    gap: 1rem;
}

.nav > img {
    width: 2.875rem;
    height: 2.875rem;
}