.onScreen {
    color: #F2F4F7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.onScreen > h2 {
    margin-left: 1rem;
    font-size: 3rem;
    font-weight: 100;
}

.onScreenMovies {
    margin-top: 2rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
}

.cardMovie {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cardMovie > img {
    width: 14.375rem;
    height: 21.25rem;
    border-radius: 1rem;
}

.cardMovie > p {
    font-size: 1.5rem;
}

.cardButton {
    width: 14.384rem;
    height: 2.759rem;
    border-radius: 0.5rem;
    color: white;
    background-color: #CC8000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}