.seatsInfo{
    display: flex;
    flex-direction: column;
    gap: .1rem;
    margin-top: .5rem;
}

.seatID {
    font-size: 1rem;
    color: black;
    font-weight: 600;
    margin-left: 1rem;
}

.line {
    width: 13.813rem;
    margin-left: 1rem;
    height: 2px;
    background-color: black;
    border: 0;
}

.name, .cpf {
    font-size: 1rem;
    color: black;
    font-weight: 400;
    margin-left: 1rem;
}

.cpfInput, .nameInput {
    width: 13.813rem;
    background: linear-gradient(
        to right,
        var(--principal-source) 0%,
        var(--principal-source) 3%,
        white 3%,
        white 100%
        );
    height: 1.375rem;
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180);
    margin-left: 1rem;
    border: 0;
}

