.seat {
    width: 1.25rem;
    height: 1.25rem;
    background-color: transparent;
    border: 0.188rem solid #004A9B;
    border-radius: 6px 6px 0 0;
}

.seatSelected {
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--calltoaction-source);
    border: 3px solid var(--calltoaction-source);
    border-radius: 6px 6px 0 0;
}

.seatPurchased{
    width: 1.25rem;
    height: 1.25rem;
    background-color: #2B3955;
    border: 3px solid #2B3955;
    border-radius: 6px 6px 0 0;
}