:root {
    --principal-source: #0066CC;
    --principal-900: #003877;
    --principal-800: #004A9B;
    --principal-500: #4a84ec;
    --principal-400: #6d98fb;
    --principal-100: #d2dbff;

    --complementar-source: #0bb0e3;
    --complementar-900: #00405e;
    --complementar-800: #00557b;
    --complementar-500: #0092c3;
    --complementar-400: #2ba7d4;
    --complementar-100: #bfe2f5;

    --complementar2-source: #0bd9d3;
    --complementar2-900: #004442;
    --complementar2-800: #005a57;
    --complementar2-500: #009a95;
    --complementar2-400: #00aea9;
    --complementar2-100: #b6e6e3;

    --sombra-source: #00264d;
    --sombra-900: #2b3955;
    --sombra-800: #394b70;
    --sombra-700: #4a5e89;

    --sombra2-source: #004c99;
    --sombra2-900: #1a386a;
    --sombra2-800: #224a8b;
    --sombra2-700: #305da8;

    --calltoaction-source: #cc8000;
    --calltoaction-500: #bf7600;
    --calltoaction-400: #d48c29;
    --calltoaction-300: #e6a352;

    --cancel-source: #cc2014;
    --cancel-700: #bb180f;
    --cancel-600: #d82f1e;

    --confirm-source: #00cc54;
    --confirm-600: #008912;
    --confirm-400: #03b349;

    --texto-source: #001122;
    --texto-50: #f2f4f7;

    --cinza-preto: #000000;
    --cinza-900: #393939;
    --cinza-800: #4b4b4b;

}

main {
    background-image: url('./assets/Background.svg');
    background-repeat: repeat;
    background-size: cover;
    background-color: #1E1E1E;
    overflow: hidden;
    position: relative;
}

@font-face {
    font-family: MainFont;
    src: url(src/assets/Poppins-Light.ttf);
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: MainFont; ;
}